@import url('https://fonts.googleapis.com/css?family=Lato');

body 
{
    overflow-x: hidden;
    margin: 0;
    background-image: url("../content/images/background.png");
    font-family: 'Lato', sans-serif;
}
.indexContainer
{
    width: 100%;
    background: #005375;
    color:ghostwhite;
    height: 150px;
    padding: 5px;
    text-align: center;
}
.buttonGo
{
    background-color: #4CAF50;
    border: none;
    border-radius: 12px;
    color: white;
    padding: 3px 10px;
    margin: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-appearance: none;

}
.indexContainer > h1 
{
    margin: 0;
    line-height: 150px;
    font-size: 8rem;  
    animation: textgrowth 1s infinite alternate;
}
h1 a{
    text-decoration: none;
    color: ghostWhite;    
}
.indexLogo
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    height: 60%;
}
fieldset
{
   background-color: #FFFFFF;
   width: 25%;
   margin: 10px auto;
   text-align: center;
   font-family: 'Lato', sans-serif;
}
header {
    height: 100px;
    background-color: ghostwhite;
    display: flex;
    text-align: center;
}
header > h1 {
    color: black;
    margin: 0;
    line-height: 100px;
    width: 75%;
    font-size: 4rem;
}
.headerLogo
{
    height: 80px;
    padding-left: 25px;
    margin: 9px;
}
.loginLogo
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 25%; 
}
.invalidInput{
    color: #FF0000;
    visibility: hidden;
}
.backLink
{
    margin-left: 50px;
    text-decoration: none;
    color: #005375;
}

header i
{
    font-size: 60px;
}

.shortDescription
{
    border-top: 3px solid black;
    padding: 10px;
    margin-bottom: 20px;
    background-color: whitesmoke;
    font-family: 'Lato', sans-serif;
    font-size: 26px;
    padding-left: 30px;
}

.longDescription
{
    padding: 10px;
    margin-bottom: 20px;
    background-color: whitesmoke;
    font-family: 'Lato', sans-serif;
    font-size: 26px;
    padding-left: 30px;
}
.pageContent{
    flex-basis: 80%;
}
.pageContent .objectImages
{
    text-align: center;
    background-color: whitesmoke;
    width: 100%;
}
.pageContent img
{
    padding: 10px;
    margin: auto;
    width: 25%;
}
#previewImg
{
    width: 50%;
}
.pageContent h2
{
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 10px; 
    margin-bottom: 0px;
    text-align: center;
    padding: 5px;
    background-color: whitesmoke;
    font-family: 'Lato', sans-serif;
    color: #005375;
    font-size: 35px;
}
.page
{
    display: flex;
}
.sideBar
{
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
    width: 10px;
    background-color: whitesmoke;
    margin-top: 10px;
    padding: 5px;
    margin-right: 10px;
}
.pagesMenu
{
    background-color: whitesmoke;
    margin-top: 10px;
    padding: 5px;
}
.sideBar li
{
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    color: black;
    font-size: 20px;
    list-style-type: none;
    padding-top: 2px;
}
.sideBar ol
{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5px;
    width: 100%;
}
.sideBar ol li a
{
    text-decoration: none;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    color: #005375;
    font-size: 20px;
}

.shelf {
    display: flex;
}
.shelfItem {
    width: 25%;  
    border-left: 5px solid black; 
    border-right: 5px solid black; 
    border-top: 5px solid orange; 
    border-bottom: 5px solid orange;
    text-align: center;
    font-size: 2rem;
    padding-top: 20px;
}
.shelfItem > strong > p > a{
    text-decoration: none;
    color: black;
}
.shelfItem > strong > p {
    margin-bottom: 0;
    background-color: orange;
}
#objectName a {
    text-decoration: none;
    color: black;
}
.addObjectForm {
    font-size: 2rem;
    padding-left: 20%;
    padding-right: 20%;
    margin-top: 30px;
}
#addObjectForm > input {
    font-size: 2rem;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
@keyframes textgrowth {
    0% {
    font-size: 7rem;
    }
    100% {
    font-size: 8rem;
    }
}
::-webkit-scrollbar{
  width: 20px;
}

::-webkit-scrollbar-track {
  background: whitesmoke;
  box-shadow: inset 5px 0 0 grey; 
  border-radius: 10px;
}
::-webkit-scrollbar-track:hover {
  background: ghostwhite;
}
::-webkit-scrollbar-thumb{
  background: #005375;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
  background: #006486;
    border-radius: 10px;
}