<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css?family=Lato');
body {
=======
body 
{
>>>>>>> 84bc9bbd38f18ea12a998d236d0b132c78a10cff
    margin: 0;
    background-image: url("../content/images/background.png");
    font-family: 'Lato', sans-serif;
}
.indexContainer
{
    width: 100%;
    background: #005375;
    color:ghostwhite;
    height: 150px;
    padding: 5px;
    text-align: center;
}
.buttonGo
{
    background-color: #4CAF50;
    border: none;
    border-radius: 12px;
    color: white;
    padding: 3px 10px;
    margin: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-appearance: none;

}
.indexContainer > h1 
{
    margin: 0;
    line-height: 150px;
    font-size: 8rem;  
}
h1 a{
    text-decoration: none;
    color: ghostWhite;    
}
.indexLogo
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    height: 60%;
}
<<<<<<< HEAD
fieldset
{
   background-color: #FFFFFF;
   width: 25%;
   margin: 300px auto;
   text-align: center;
   font-family: 'Lato', sans-serif;
=======
header {
    height: 100px;
    background-color: greenyellow;
    display: flex;
    text-align: center;
}
header > h1 {
    color: black;
    margin: 0;
    line-height: 100px;
    width: 75%;
}
.headerLogo
{
    height: 80px;
    padding-left: 25px;
    margin: 9px;
>>>>>>> 84bc9bbd38f18ea12a998d236d0b132c78a10cff
}