@import url('https://fonts.googleapis.com/css?family=Lato');

body 
{
    overflow-x: hidden;
    margin: 0;
    background-image: url("../content/images/background.png");
    font-family: 'Lato', sans-serif;
}
.indexContainer
{
    width: 100%;
    background: #005375;
    color:ghostwhite;
    height: 150px;
    padding: 5px;
    text-align: center;
}
.buttonGo
{
    background-color: #4CAF50;
    border: none;
    border-radius: 12px;
    color: white;
    padding: 3px 10px;
    margin: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-appearance: none;

}
.indexContainer > h1 
{
    margin: 0;
    line-height: 110px;
    font-size: 8rem;  
    animation: textgrowth 1s infinite alternate;
}
.indexText{
    color: ghostwhite;
    text-align: center;
    font-size: 3rem;
}
h1 a
{
    font-size: 80px;
    text-decoration: none;
    color: ghostWhite;    
}
.indexLogo
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    height: 35%;
}
fieldset
{
   background-color: #FFFFFF;
   width: 25%;
   margin: 10px auto;
   text-align: center;
   font-family: 'Lato', sans-serif;
}
header {
    height: 100px;
    background-color: ghostwhite;
    display: flex;
    text-align: center;
}
header > h1 {
    color: black;
    margin: 0;
    line-height: 100px;
    width: 75%;
    font-size: 3rem;
}
header > h2 {
    color: black;
    margin: 0;
    line-height: 100px;
    width: 75%;
    font-size: 3rem;
}
header a p{
    /* margin-top: 15px;
    margin-right: 5px; */
    font-family: 'Lato';
}
.headerLogo
{
    height: 80px;
    padding-left: 25px;
    margin: 9px;
}
.loginLogo
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 25%; 
}
.invalidInput{
    margin: 2px;
    color: #FF0000;
    display: block;
}
.backLink
{
    font-size: 3rem;    
    text-decoration: none;
    color: #005375;
    font-family: 'Lato';
    line-height: 100px;
    padding-left: 5px;
}
.backLink strong
{
    padding-left: 10px;
    font-family: 'Lato';
}
.shortDescription
{
    border-top: 3px solid black;
    padding: 10px;
    margin-bottom: 20px;
    background-color: whitesmoke;
    font-family: 'Lato', sans-serif;
    font-size: 26px;
    padding-left: 30px;
}

.longDescription
{
    padding: 10px;
    margin-bottom: 20px;
    background-color: whitesmoke;
    font-family: 'Lato', sans-serif;
    font-size: 26px;
    padding-left: 30px;
}
.pageContent
{
    flex-basis: 80%;
    background-color: whitesmoke;
    padding: 10px;
    margin: auto;
    text-align: center;
    margin-top: 10px;
    margin-right: 10px;
}
.pageContent .objectImages
{
    text-align: center;
    background-color: whitesmoke;
    width: 100%;
}
.pageContent img
{
    padding: 10px;
    margin: auto;
    width: 25%;
}
#previewImg
{
    width: 50%;
}
.pageContent .title
{
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 10px; 
    margin-bottom: 0px;
    text-align: center;
    padding: 5px;
    background-color: whitesmoke;
    font-family: 'Lato', sans-serif;
    color: #005375;
    font-size: 35px;
    border-bottom: 1px solid black;
    margin: auto;
}
.page
{
    display: flex;
    margin-top: 0px;
}
.pagesMenu
{
    background-color: whitesmoke;
    margin-top: 10px;
    padding: 5px;
}
.sideBar
{
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
    width: 10px;
    background-color: #005375;
    padding: 5px;
    margin-right: 10px;
}
.sideBar li
{
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    color: ghostwhite;
    font-size: 30px;
    list-style-type: none;
    padding-top: 2px;
}
.sideBar li h2 
{
    margin-top: 0px;
    text-decoration: underline;
    height: 10px;
}

.sideBar ol
{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5px;
    width: 100%;
}
.sideBar ol li a
{
    text-decoration: none;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    color: whitesmoke;
    font-size: 20px;
}

.shelf {
    display: flex;
    flex-wrap: wrap;
}
.shelfItem {
    width: 24.2%;  
    border-left: 5px solid black; 
    border-right: 5px solid black; 
    border-top: 5px solid orange; 
    border-bottom: 5px solid orange;
    text-align: center;
    font-size: 2rem;
    padding-top: 20px;
    margin-bottom: 15px;
    background-color: white;

    transition: background-color 0.25s;
}
.shelfItem:hover
{
    background-color: #94b8b8;
    transform: background-color 0.25s;
}
.shelfItem > strong > p > a{
    text-decoration: none;
    color: black;
}
.shelfItem > strong > p {
    margin-bottom: 0;
    background-color: orange;
}
.shelfImage {
    height: 200px;
}
#objectName a {
    text-decoration: none;
    color: black;
}
.addObjectForm {
    background: whitesmoke;
    font-size: 2rem;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20px;
    padding: 10px;
}
#addObjectForm > input {
    font-size: 2rem;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
@keyframes textgrowth {
    0% {
    font-size: 7rem;
    }
    100% {
    font-size: 8rem;
    }
}

.username_box
{
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;  
    background-color: whitesmoke;
    font-size: 18px;
    height: 250px;    
    width: 40%
}

.password_box
{
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    background-color: whitesmoke;
    font-size: 18px;
    height: 250px;
    width: 40%
}

.changeButton
{    
    font-size: 20px;
}

.objectSelect
{
    background-color: whitesmoke;
    margin: 20px;
    padding: 5px;
}

table
{
    padding: 10px;
    border-collapse: collapse;
}

table, th, td
{
    padding: 5px;
    border: 1px solid black;
}

::-webkit-scrollbar{
  width: 20px;
}

::-webkit-scrollbar-track {
  background: whitesmoke;
  box-shadow: inset 5px 0 0 grey; 
  border-radius: 10px;
}
::-webkit-scrollbar-track:hover {
  background: ghostwhite;
}
::-webkit-scrollbar-thumb{
  background: #005375;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
  background: #006486;
    border-radius: 10px;
}
.loginToIndex{
    float: right;
    margin-right: 300px;
    margin-top: 50px;
}
.loginLink{
    position: fixed;
    margin-top: 100px;
    bottom: 10px;
}
.loginLink a{
color:whitesmoke;
}

/* Pages */
.pagePreviewPanel
{
    background-color: whitesmoke;
    padding: 10px;
    margin: auto;
    text-align: center;
    width: 70%;
}
.pagePreviewPanel img
{
    padding-left: 10px;
    padding-right: 10px;
    width: 30%;
}
.pagePreviewPanel p
{
    font-size: 20px;
}
.page2
{
    margin-top: 20px;
    display: flex;
}

.addPagesForm
{
    width: 40%;
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    padding: 10px;
}
.addPagesForm h1
{
    font-size: 25px;
}
.addPagesForm h2
{
    font-size: 17px;
    width: 95%;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
}
.addPagesForm h3
{
    font-size: 15px;
    width: 100%;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
}
.addPagesForm form strong
{
    font-size: 17px;
}
#addNewPageForm input
{
    font-size: 20px;
    text-align: center;
    border: 1px dotted black;
    padding: 5px;
    width: 80%;
    margin-top: 5px;
    margin-left: 10%;
    margin-right: 10%;
}
#addNewPageForm textarea
{
    width: 80%;
    margin-top: 5px;
    margin-left: 10%;
    margin-right: 10%;
    height: 200px;
    font-size: 15px;
    resize: none;
}

.pagesFlexBox
{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
}

.pagePreview
{
    float: right;
    width: 75%;
    margin-right: 20px;
    background-color: white;
    text-align: center;
    padding: 10px;
}
.pagePreview textarea
{
    width: 80%;
    margin-top: 5px;
    margin-left: 10%;
    margin-right: 10%;
    height: 200px;
    font-size: 25px;
    resize: none;
}
.pagePreview img
{
    max-width: 25%;
}

.pagePreviewPanel input[name="pageTitle"]
{
    border: 1px solid black;
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin: auto;
    width: 80%;
    height: 60px;
    font-size: 40px;
    font-weight: bold;
}
.pagePreviewPanel textarea[name="pageText"]
{
    border: 1px solid black;
    font-family: 'Lato', sans-serif;
    text-align: center;
    padding: 10px;
    width: 95%;
    height: 450px;
    margin: auto;
    font-size: 20px;
}
.pagePreviewPanel input[type="submit"]
{
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid black;
    font-family: 'Lato', sans-serif;
    padding: 10px;
    width: 80%;
}
.objectForm
{
    margin-left: 10px;
    margin-right: 10px;
    width: 80%;
    margin: auto;
    text-align: center;
}
.objectForm input[type="file"]
{
    width: auto;
    text-align: center;
    margin: auto;
    padding: 5px;
    border: 1px dashed black;
}
.objectForm input
{
    width: 50%;
    margin: 10px;
}

.deleteObjectLink
{
    color: #FC3D3D !important;
}

.new_image_container
{
    width: 30%;
    text-align: center;
    margin: auto;
    padding: 5px;
    border: 2px dashed black;       
}
.message
{
    width: 90%;
    background-color: lightgreen;
    color: #005375;
    font-weight: bold;
    font-size: 15px;
    padding: 10px;
    margin: 10px;
    margin: auto;
    border-radius: 10px;
}

#videoPreview
{
    display: flex;
    flex-direction: row;
}
.singleVideo
{
    width: 24%;
    display: flex;
    flex-direction: column;
}
.singleVideo .selectVideoLink
{
    color: black;
}


.popup
{
    border-radius: 20px;
    border: 4px solid black;
    width: 80%;
    background-color: whitesmoke;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}
.popup h1
{
    margin-top: 5px;
    text-align: center;
}
.popup p
{
    font-size: 30px;
    border: 2px dashed black;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
}
.popup table
{
    font-size: 25px;
    margin: auto;
    text-align: center;
}
.popup ul
{
    padding-top: 30px;
    margin: auto;
}
.popup ul li
{
    padding-bottom: 10px;
    font-size: 25px;
}
.popup button
{
    cursor: pointer;
    width: 100%;
    font-size: 30px;
    padding: 10px;
    border: 2px solid black;
    background-color: #005375;
    color: white;
    border-radius: 10px;
    margin: auto;
}

.video-background { box-sizing: border-box; }
.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.video-foreground,
.video-background video {
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
#vidtop-content {
	top: 0;
	color: #fff;
}
.vid-info { position: absolute; top: 0; right: 0; width: 33%; background: rgba(0,0,0,0.3); color: #fff; padding: 1rem; font-family: Avenir, Helvetica, sans-serif; }
.vid-info h1 { font-size: 2rem; font-weight: 700; margin-top: 0; line-height: 1.2; }
.vid-info a { display: block; color: #fff; text-decoration: none; background: rgba(0,0,0,0.5); transition: .6s background; border-bottom: none; margin: 1rem auto; text-align: center; }
@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}
@media all and (max-width: 600px) {
.vid-info { width: 50%; padding: .5rem; }
.vid-info h1 { margin-bottom: .2rem; }
}
@media all and (max-width: 500px) {
.vid-info .acronym { display: none; }
}

input[type=radio] {
    width: 30px;
    height: 30px;
}