body 
{

    margin: 0;
    background-image: url("../content/images/background.png");
    font-family: 'Lato', sans-serif;
}
.indexContainer
{
    width: 100%;
    background: #005375;
    color:ghostwhite;
    height: 150px;
    padding: 5px;
    text-align: center;
}
.buttonGo
{
    background-color: #4CAF50;
    border: none;
    border-radius: 12px;
    color: white;
    padding: 3px 10px;
    margin: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-appearance: none;

}
.indexContainer > h1 
{
    margin: 0;
    line-height: 150px;
    font-size: 8rem;  
}
h1 a{
    text-decoration: none;
    color: ghostWhite;    
}
.indexLogo
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    height: 60%;
}
fieldset
{
   background-color: #FFFFFF;
   width: 25%;
   margin: 10px auto;
   text-align: center;
   font-family: 'Lato', sans-serif;
}
header {
    height: 100px;
    background-color: ghostwhite;
    display: flex;
    text-align: center;
}
header > h1 {
    color: black;
    margin: 0;
    line-height: 100px;
    width: 75%;
    font-size: 4rem;
}
.headerLogo
{
    height: 80px;
    padding-left: 25px;
    margin: 9px;
}
.loginLogo
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 25%; 
}
.shelf {
    display: flex;
}
.shelfItem {
    width: 25%;  
    border-left: 5px solid black; 
    border-right: 5px solid black; 
    border-top: 5px solid orange; 
    border-bottom: 5px solid orange;
    text-align: center;
    font-size: 2rem;
    padding-top: 20px;
}
.shelfItem > strong > p > a{
    text-decoration: none;
    color: black;
}
.shelfItem > strong > p {
    margin-bottom: 0;
    background-color: orange;
}
#objectName a {
    text-decoration: none;
    color: black;
}